@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto:ital,wght@1,100&family=Sedgwick+Ave+Display&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-family: 'Sedgwick Ave Display';
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#qrcode {
    margin-top: 20px;
}
button {
    /* ... Estilos existentes ... */
    margin-right: 10px;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; /* Ancho máximo para la tarjeta */
    margin: 0 auto; /* Centrar horizontalmente */
}

.card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#qrcode {
    margin-top: 20px;
}

.card {
    background-color: white; /* Color de fondo de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-top: 20px; /* Margen superior */
    text-align: center; /* Centrar el contenido */
    max-width: 400px; /* Ancho máximo para la tarjeta */
    margin: 10px auto; /* Centrar horizontalmente */
}

.card #qrcode {
    margin-top: 10px; /* Espacio entre el código QR y el texto */
}

.card p {
    display: none; /* Ocultar el texto de emergencia por defecto */
    font-family: 'Poppins', sans-serif;
}
.card div {
    background-color: white;
}
.card label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.card input {
    width: 80%;
}